.safe-area {
	background: #276FFF;
	height: 70vh;
	padding-top: 1rem;
}
.header {
	height: 70px;
}
.nav-link {
	color: #fff;
	transition: all .5s ease;
}
.nav-link:hover {
	color: #fff;
	background: #4BABAD;
	border-radius: 50px;
}
.navbar-nav {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;

}
.fa, .fa-bars {
	color: #fff;
}
@media (max-width: 768px) {
	.navbar-collapse {
		position: relative;
		z-index: 999;
	}
	.navbar-nav {
		padding: .5rem;
		margin-top: 2rem;
	}
}